@model IEnumerable<NguyenThanhTu.SachOnline.Models.MENU>
@{
    int i = 0;
    @:<ul class="dropdown-menu">
        foreach (var item in Model)
        {
            if (ViewBag.lst[i] != 0)
            {
                <li class="dropdown-menu">
                    <a href="#" class=" test list-group-item">
                        @item.MenuName <span class="caret"></span>
                    </a>
                    @Html.Action("LoadChildMenu", "SachOnLine", new { parentId = item.Id })
                </li>
            }
            else
            {
                if (item.MenuLink.Contains("://"))
                {
                    <li><a href="@item.MenuLink">@item.MenuName</a></li> }
                else
                {
                    <li><a href="~/@item.MenuLink">@item.MenuName</a></li> }
                }
            }
            i++;
        @:</ul>
}
