@using NguyenThanhTu.SachOnline.Models
@using PagedList.Mvc;
@model PagedList.PagedList<NguyenThanhTu.SachOnline.Models.DONDATHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">QUẢN LÍ ĐƠN HÀNG</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Đã thanh toán:
        </th>
        <th>
            Tình trang giao hàng:
        </th>
        <th>
            Ngày đặt:
        </th>
        <th>
            Ngày giao:
        </th>
        <th>
            Mã khách hàng:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DaThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.MaDonHang })" class="btn btn-warning" role="button">Sửa</a>

                <a href="@Url.Action("Details", new { id = item.MaDonHang })" class="btn btn-primary" role="button">Chi tiết</a>

                <a href="@Url.Action("Delete", new { id = item.MaDonHang })" class="btn btn-danger" role="button">Xóa</a>
            </td>
        </tr>
    }

</table>
@*Tạo liên kết phần trang*@
<div>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber) /@Model.PageCount</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>