@model  NguyenThanhTu.SachOnline.Models.TRANGTIN
@{
    ViewBag.Title = "TrangTin";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h3>@Model.TenTrang</h3>
<h5>Ngày đăng: @Html.FormatValue(@Model.NgayTao,"{0:dd/MM/yyyy}")</h5>
<hr />
<div>
    @Html.Raw(Model.NoiDung)
</div>

<br /><br />

<p>@Html.ActionLink("Back to list","Index")</p>


